# dependencies
node_modules/

# build
dist/
*.local

# env
.env
.env*.local

# editor / OS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# legacy native (se ainda existirem localmente)
.expo/
ios/
android/
google-services.json
GoogleService-Info.plist
.vercel
.env*
